/* App.css */

body {
  background-color: #000000; /* Full page background color */
  color: #ffffff;
}

.app-title {
  color: #000000;
  margin-top: 2rem;
}

.form-label {
  color: #ff0000; /* Form item name colors */
  float: left;
  padding-inline: 10px 100px;
}
.form-label:after {
  content: ": ";
}

.form-control {
  color: #000000;
}

fieldset {
  background-color: #000000; /* Box color */
  color: #ff0000; /* Box title color */
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 5px;
  border-style: groove;
  border-color: #000000;
  border-image: initial;
}

button {
  background-color: #bb0a0a; /* Button color */
  color: #f8f6f6; /* Button text color */
  size: 15px;
  font-size: 15px;
  cursor: pointer;
  margin: 4px 2px;
  padding: 15px 32px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  background-color: #000000;
  color: #bb0a0a;
  text-align: center;
  padding: 4px;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

h1 {
  color: #ff0000;
}

h2 {
  color: #ff0000;
}

h3 {
  color: #ff0000;
}

h4 {
  color: #ff0000;
}
